<div class="movie-card">
    <div class="container" *ngIf="this.movie && this.movie.posterPath">
        <a href={{getVideoLink()}} target="_blank"><img src={{getImage()}} alt="cover" class="cover" /></a>
        <div class="hero" [ngStyle]="{'--featured-image': getUrl()}"> 
            <div class="details">
                <div class="details_highlight">
                <div class="title1">
                    {{this.movie.title}}
                    <span>{{movie.adult=='true'?'Adults only':'All ages'}}</span>
                    <span>{{this.movie.originalLanguage}}</span>
                </div>
                <div class="title2">{{this.movie.tagline}}</div>    
                <fieldset class="rating">
                    <label class = "full" id="star5" title="Awesome - 5 stars" 
                    [style.color]="+this.movie.voteAverage > 9 ? '#FFD700' : '#ddd'"></label>
                    <label class="half" id="star4half" title="Pretty good - 4.5 stars"
                    [style.color]="+this.movie.voteAverage > 8 ? '#FFD700' : '#ddd'"></label>
                    <label class = "full" id="star4" title="Pretty good - 4 stars"
                    [style.color]="+this.movie.voteAverage > 7 ? '#FFD700' : '#ddd'"></label>
                    <label class="half" id="star3half" title="Meh - 3.5 stars"
                    [style.color]="+this.movie.voteAverage > 6 ? '#FFD700' : '#ddd'"></label>
                    <label class = "full" id="star3" title="Meh - 3 stars"
                    [style.color]="+this.movie.voteAverage > 5 ? '#FFD700' : '#ddd'"></label>
                    <label class="half" id="star2half" title="Kinda bad - 2.5 stars"
                    [style.color]="+this.movie.voteAverage > 4 ? '#FFD700' : '#ddd'"></label>
                    <label class = "full" id="star2" title="Kinda bad - 2 stars"
                    [style.color]="+this.movie.voteAverage > 3 ? '#FFD700' : '#ddd'"></label>
                    <label class="half" id="star1half" title="Meh - 1.5 stars"
                    [style.color]="+this.movie.voteAverage > 2 ? '#FFD700' : '#ddd'"></label>
                    <label class = "full" id="star1" title="Sucks big time - 1 star"
                    [style.color]="+this.movie.voteAverage > 1 ? '#FFD700' : '#ddd'"></label>
                    <label class="half" id="starhalf" title="Sucks big time - 0.5 stars"
                    [style.color]="+this.movie.voteAverage > 0 ? '#FFD700' : '#ddd'"></label>
                </fieldset>
                <span class="votes">{{this.movie.voteAverage}}</span>
                <span class="likes">{{this.movie.voteCount}} votes</span>
                </div>
            </div> <!-- end details -->
        </div> <!-- end hero -->
        <div class="description">
            <div class="column1">
                <span class="tag" *ngFor="let genre of getGenres()">{{genre}}</span>
            </div> <!-- end column1 -->
            <div class="column2">
                <p>{{this.movie.overview}}</p>
                <div class = "text_full">
                    <span class="text_label">Release Date : </span> 
                    <span class="text_value">{{this.movie.releaseDate}} </span>
                </div>
                <div class = "text_full">
                    <span class="text_label">Budget &nbsp;&nbsp;&nbsp;&nbsp;: </span> 
                    <span class="text_value">{{this.movie.budget}} $</span>
                    <span class="">&nbsp;&nbsp;&nbsp;&nbsp; 
                        <input
                            type="number" 
                            min="0"
                            [(ngModel)]="newBudget"
                            placeholder="New Budget Value"
                        >
                        &nbsp;&nbsp;
                        <button
                        [disabled]="newBudget === ''"
                        class="btn btn-primary btn-lg edit" 
                        (click)="onEdit()">
                            Edit Budget
                        </button>
                    </span>
                </div>
                <div class="text_full">
                    <span class="text_label">Revenue &nbsp;: </span> 
                    <span class="text_value">{{this.movie.revenue}} $</span>
                </div>
                <div class="avatars">
                    <div class = "avatars_text">Production Companies:-</div>
                    <span *ngFor="let comp of this.movie.productionCompanies; let i = index">
                        <span *ngIf="comp.logo_path != null">
                            <a [attr.data-tooltip]="comp.name" data-placement="top">
                            <img src={{getCompanyImage(i)}} alt={{comp.name}} />
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loader" *ngIf="!this.movie || !this.movie.posterPath">
    <app-loading-spinner></app-loading-spinner>
</div>
